* { box-sizing: border-box; outline: none; }

.demo-item {
  padding: 5px;
}

.error {
  border: 0;
  border-bottom: 1px solid rgba(148, 38, 35, 0.8);
}

.demo-cookie {
  border-left: 2px solid rgb(69, 106, 127);
  padding: 5px;
  margin: 10px;
}

/* Track Custom Action */
#txt-track-action {
  vertical-align: top;
}
#txt-track-action-props {
  width: 400px;
  height: 200px;
}
#btn-track-action {
  vertical-align: top;
}